@font-face {
  font-family: noto-serif;
  src: url(./assets/fonts/NotoSerifKR-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  size: 1rem;
  list-style: none;
  color: inherit;
  font-family: "noto-serif", serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  size: 3rem;
}
h2 {
  size: 2.25rem;
}
h3 {
  size: 1.5rem;
}
a:hover {
  color: blue;
}

header {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

nav {
  margin: 1rem 0;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#article {
  width: 80vw;
}

#article > section {
  margin: 2rem 0;
}

#article > *, #article > * > * {
  margin: 1rem;
}

.quotation {
  padding: 1rem;
  background-color: lightgray;
}
